USE [master]
GO
/****** Object:  Database [DBSushi]    Script Date: 9/10/2018 9:09:16 PM ******/
CREATE DATABASE [DBSushi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBSushi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\DBSushi.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBSushi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\DBSushi_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBSushi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBSushi]
GO
/****** Object:  Table [dbo].[tblContact]    Script Date: 9/10/2018 9:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblContact](
	[contactId] [varchar](50) NOT NULL,
	[address] [varchar](50) NULL,
	[telephone] [nvarchar](50) NULL,
	[city] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[publicDate] [date] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tblContact] ([contactId], [address], [telephone], [city], [email], [publicDate]) VALUES (N'1', N'acb', N'023001', N'HCMC', N'mal', CAST(N'2018-06-12' AS Date))
USE [master]
GO
