<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Request Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <b>RequestId:</b><br>
                        <p class="rqID"></p>
                    <p>
                        <b>RequestName:</b><br>
                        <p class="rqName"></p>
                    <p>
                        <b>Date:</b><br>
                        <p class="rqCD"></p>
                    <p>
                        <b>AgencyName:</b><br>
                        <p class="rqAN"></p>
                    <p>
                        <b>ITName:</b><br>
                        <p class="rqIT"></p>
                    <p>
                        <b>Issue Name:</b><br>
                        <p class="rqIN"></p>
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>
  
</div>
<!-- Datatable -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h2>Request Summary</h2>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Status 1</span>
                <span class="info-box-number">90</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Status 2</span>
                <span class="info-box-number">41</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Status 3</span>
                <span class="info-box-number">70</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Status 4</span>
                <span class="info-box-number">20</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
<div class="row col-md-12">
    <h3>Recent Request</h3>

    <table id="detail-table" class="table table-hover" cellspacing="0" style="table-layout: auto">
        <thead>
            <tr>
                <th><label>STTTT</label></th>
                <th><label>Tên</label></th>
                <th><label>Thời gian</label></th>
                <th><label>Tạo bởi</label></th>
                <th><label>Trạng thái</label></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            loadCompany();
        });

        function loadCompany() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAllRequest", "Request")',
                data: {
                },
                success: function(result) {
                    initDatatable(result.result);
                },
                error: function(error) {
                    showMessage("Cõ lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                }
            });
        }
        function initDatatable(data) {
            $("#detail-table").dataTable({
                stateSave: true,
                "bFilter": true,
                "bSort": false,
                "data": data,
                "bRetrieve": true,
                "bScrollCollapse": true,
                "bProcessing": true,
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sSearchPlaceholder": "Thành phần con",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 1, 2, 3, 4],
                        "bSortable": false,
                        "sClass": "text-center",
                    },


                    //{
                    //    "aTargets": [7],
                    //    "mRender": function (data, type, row) {
                    //        var edit = "<a title='Chỉnh sửa' class='btn btn-sm btn-primary' onclick='callShowEditModal(" + data + ")'><i class='glyphicon glyphicon-pencil'></i></a>";
                    //        var del = "<a title='Xóa' class='btn btn-sm btn-danger' onclick='deleteElementChil(" + data + ")'><i class='glyphicon glyphicon-trash'></i></a>";
                    //        return edit + " " + del;
                    //    },
                    //}
                ],
                "columns": [
                    { "data": "RequestId" },
                    {
                        "data": "RequestName",
                        "mRender": function(data, type, full) {
                            return '<a href="RequestDetail/' + full.RequestId + '">' + data + '</a>';
                        }
                    },
                    { "data": "CreateDate" },
                    { "data": "AgencyName" },
                    { "data": "StatusName" },
                    {
                        "mRender": function(data, type, full) {
                            return ' <button type="button" class="btn btn-info fa fa-eye" data-toggle="modal" data-target="" onclick="getData('+full.RequestId+')"></button>';
                        }
                    },
                ],
                "bAutoWidth": false,
            });
        }

        function getData(id) {

            $.ajax({
                //url: '@Url.RouteUrl(new {action = "Edit", controller = "Home"})',
                url: '@Url.RouteUrl(new {action = "GetRequestDetail", controller = "Request"})',

                data: {
                    request_id: id
                },
                type: 'GET',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    $(".rqID").text(data.result.RequestId);
                    $(".rqName").text(data.result.RequestName);
                    $(".rqCD").text(data.result.CreateDate);
                    $(".rqAN").text(data.result.AgencyName);
                    $(".rqIT").text(data.result.ITName);
                    $(".rqIN").text(data.result.IssueName);

                }
            });
            $('#exampleModal').modal('show');
        }


    </script>

}