@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <style>
        .city {
            background-color: azure;
            color: black;
            padding: 1%;
            border-left: solid cadetblue;
            width: 100%;
            margin-left: 1.5%;
            font-family: Arial;
        }
    </style>
    <div class="row col-md-12">
        <h3 class="city">Thống Kê Dữ Liệu Của Nhân Viên</h3>
    </div>
    <div class="col-md-6" style="margin-top: 10px">
        <div class="box box-success">
            <div class="box-header with-border">
                <h4 class="box-title">Tổng Thời Gian Hỗ Trợ Các Loại Dịch Vụ Của Tất Cả Nhân Viên</h4>

            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="bar-chart" width="100%" height=40%></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="margin-top: 10px">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Tổng Số Lần Hủy Và Hỗ Trợ Của Tất Cả Nhân Viên</h3>

            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="doughnut-chart" width="100%" height="40%"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12" style="margin-left: 0.2%; margin-top: 10px">
        <table id="detail-table" class="table table-hover" cellspacing="0" style="table-layout: auto">
            <thead>
                <tr>
                    <th><label>STT</label></th>
                    <th><label>Tên Nhân Viên</label></th>
                    <th><label>Tên Tài Khoản</label></th>
                    <th><label>Trạng Thái</label></th>
                    <th><label>Xem Chi Tiết</label></th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</section>


<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/skins/_all-skins.min.css">
    <!-- jQuery 3 -->
    <script src="~/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- ChartJS -->
    <script src="~/AdminLTE/bower_components/chart.js/Chart.js"></script>
    <!-- FastClick -->
    <script src="~/AdminLTE/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE/dist/js/demo.js"></script>
    <!-- page script -->
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="~/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/AdminLTE/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE/dist/js/demo.js"></script>
    <!-- FLOT CHARTS -->
    <script src="~/AdminLTE/bower_components/Flot/jquery.flot.js"></script>
    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script src="~/AdminLTE/bower_components/Flot/jquery.flot.resize.js"></script>
    <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
    <!-- FLOT CATEGORIES PLUGIN - Used to draw bar charts -->
    <script src="~/AdminLTE/bower_components/Flot/jquery.flot.categories.js"></script>
    <!-- Page script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            loadData();
            loadITSup();  
        });

        function loadITSup() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAllITSupporter", "ITSupporter")',
                data: {
                },
                success: function (result) {
                    initDatatable(result.result.ObjReturn);
                },
                error: function(error) {
                    showMessage("Cõ lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                }
            });
        }
         function initDatatable(data) {
            if (data == null) {
                $('#detail-table').dataTable().fnClearTable();
            }
            $("#detail-table").dataTable().fnDestroy();
            $("#detail-table").dataTable({
                stateSave: true,
                "bFilter": true,
                "bSort": false,
                "data": data,
                "bRetrieve": true,
                "bScrollCollapse": true,
                "bProcessing": true,
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sSearchPlaceholder": "",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 1, 2,3,4],
                        "bSortable": false,
                        "sClass": "text-center"
                    },
                ],
                "columns": [
                    { "data": "NumericalOrder" },
                    { "data": "ITSupporterName" },
                    { "data": "Username" },
                    { "data": "IsOnline" },
                    {
                        "aTargets": [4],
                        "mRender": function (data, type, full) {
                            var view = ' <button type="button" class="btn btn-info fa fa-eye" data-toggle="modal" data-target="" onclick="getData(' + full.CompanyId + ')"></button>';
                            return view;
                        }
                    },
                ],
                "bAutoWidth": false,
            });
        }

        function loadData() {
             $.ajax({
                    type: 'GET',
                    url: '@Url.Action("ITSuppoterStatistic", "ITSupporter")',
                 data: {
                     "itsupporterId": 1
                    },
                    success: function (result) {
                        loadDoughnutChart(result.result.TotalTimeEveryService);
                        loadBarChart(result.result.TotalTimeEveryService);
                    },
                    error: function(error) {
                       showMessage("Cõ lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                    }
            });
        }

        /*
     * BAR CHART
     * ---------
     */
        function loadBarChart(data) {
            var i;
            var arr = [];
            for (i = 0; i < data.length; ++i) {
                arr.push(data[i].ServiceName);
            }

            var j;
            var arr2 = [];
            for (j = 0; j < data.length; ++j) {
                arr2.push(data[j].SupportTimeByHour);
            }
            var options = {
                responsive: true,
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            min: 0
                        }
                    }]
                },
                title: {
                    display: true,
                    text: name
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                legend: { display: false },
                title: {
                    display: true,

                }
            };
            new Chart(document.getElementById("bar-chart"), {
                type: 'bar',
                data: {
                    labels: arr,
                    datasets: [
                        {
                            label: "Population (millions)",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: arr2
                        }
                    ]
                },
                options: options
            });
        }
    /* END BAR CHART */
        function loadDoughnutChart(data) {
            var i;
            var arr = [];
            for (i = 0; i < data.length; ++i) {
                arr.push(data[i].ServiceName);
            }

            var j;
            var arr2 = [];
            for (j = 0; j < data.length; ++j) {
                arr2.push(data[j].SupportTimeByHour);
            }
            new Chart(document.getElementById("doughnut-chart"), {
                type: 'doughnut',
                data: {
                    labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
                    datasets: [
                        {
                            label: "Population (millions)",
                            backgroundColor: ["#0099ff", "#ff4d4d"],
                            data: [100,20]
                        }
                    ]
                },
                options: {
                    legend: {
                        display: false
                    },
                    tooltips: {
                        enabled: true
                    },
                    title: {
                        display: false,
                        text: 'Predicted world population (millions) in 2050'
                    }
                }
            });
        }
    </script>

}



